const mongoose = require("mongoose");
mongoose.Promise = require("bluebird");

const url = "mongodb://{{ mongo_hostname }}:27017/{{ mongodb_instance }}";

const connect = mongoose.connect(url, { useNewUrlParser: true });

module.exports = connect;
